<html>
<head>
    <title>Streaming:</title>
</head>
<body>
  <h1>Video stream</h1>
    <img src="{{url_for('_video_feed')}}" alt="video_frame">
  <h2>The last pictures for DB:</h2>
   <img src="{{url_for('_get_db_images')}}" alt="db_frame_1"></p>
   <img src="{}" alt="db_frame_2">
   <img src="{}" alt="db_frame_3">
   <img src="{}" alt="db_frame_4">
   <img src="{}" alt="db_frame_5">
   <img src="{}" alt="db_frame_6">
   <img src="{}" alt="db_frame_7">
   <img src="{}" alt="db_frame_8">
   <img src="{}" alt="db_frame_9">
   <img src="{}" alt="db_frame_10">
</body>
</html>